{% extends "base.html" %}

{% block title %}Статьи о косметике{% endblock %}

{% block content %}
<h2>Статьи о косметике</h2>

<ul class="article-list">
    <li><a href="{{ url_for('article', article_id=1) }}">Как выбрать идеальный тональный крем?</a></li>
    <li><a href="{{ url_for('articles', article_id=2) }}">Польза натуральных масел в косметике.</a></li>
    <li><a href="{{ url_for('articles', article_id=3) }}">Топ-5 средств для ухода за кожей.</a></li>
    <li><a href="{{ url_for('articles', article_id=4) }}">Как правильно наносить макияж?</a></li>
    <li><a href="{{ url_for('articles', article_id=5) }}">Советы по выбору парфюма.</a></li>
</ul>

{% endblock %}