<!-- Для поиска можно создать отдельную страницу или добавить форму на главной странице -->
{% extends "base.html" %}

{% block title %}Поиск {% endblock %}
<form action="/search" method="get">
    <input type="text" name="query" placeholder="Введите запрос...">
    <button type="submit">Найти</button>
    </form>
    
    <!-- Результаты поиска будут отображаться здесь -->
    <div id="search-results"></div>
    
    <script>
    // Здесь можно добавить JavaScript для обработки результатов поиска через AJAX (по желанию).
    </script>